body{
  background-color: #282D35;
  font-size: xx-large;
  font-family: 'Inter';
  margin: 0;
  color: white;
}

.header-nav{
  background-color: #21222A;
}

.header-nav{
  color: #61DAFB;
  display: flex;
  align-items: center;
  padding: 1em;
}

.header-img{
  width: 100px;
  margin-right: 10px;
}

main{
  padding: 1.5em;
  background-image: url("src/assets/react-logo-half.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px;
}

.list-item{
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-left: 1em;
  font-weight: 200;
}

li::marker{
  color: #61DAFB;
  font-size: 1.5em;
}