body {
  margin: 1em;
  font-family: 'Inter',Arial, Helvetica, sans-serif;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.card{
}

.card-header section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-img{
  width:  317px;
  border: 2px solid blue;
}

.header-name{
  margin: .5em 0 0 0;
}

.header-title{
  color: rebeccapurple;
  margin: 0 0 0 0;
}

.header-website{
  margin: .5em 0 .5em 0;
}

.header-content button{
  padding: 1em 5em;
  font-size: large;
}



.card-content, .card-header{
  width: 494px;
  border: 2px solid;
  padding: 1em;
}

.card-content{
  padding: 1em;
}

